.indexBody {
    text-align: center;
}

html {
    height: 100%;
    background-image: url('https://source.unsplash.com/1600x900/?sanfrancisco');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}

body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
}

main{
    background-image: url('https://source.unsplash.com/1600x900/?sanfrancisco');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.9;
}
  
  h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1.5rem;
  }
  
  h2 {
    margin-top: 1.5rem;
    font-size: 2rem;
    text-align: center;
  }
  
  .mainDivIndex {
    display: inline-block;
    flex: auto;
    margin: 0 auto;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.751);
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 2rem;
  }
  
  .footer {
    /* background-color: #007bff; */
    color: #fff;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 1rem;
  }
  
  
  /* Style the buttons */
 .buttonBlue {
    display: block;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    margin: 1rem auto;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  form button[type="submit"]:hover {
    background-color: #0062cc;
  }
  
  /* Style the API link */
  .mainDivIndex a {
    display: block;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #007bff;
    text-decoration: none;
  }
  
  .mainDivIndex a:hover {
    text-decoration: underline;
  }
  .footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 0.5rem;
    margin-top: auto;
  }
  .footer a:hover {
    text-decoration: underline;
  }

.formsDivIndex{
    margin-top: 2rem;
}
  
  .profile-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  label {
    font-weight: bold;
  }
  
  input[type="text"] {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }