<!DOCTYPE html>
<html lang="en" class="indexBody">
<head>
    <link rel="stylesheet" href="/static/styless.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alex's Project</title>
</head>
<body>
        <div class="mainDivIndex">
            <h1>Doors control</h1>
            
            <div class="formsDivIndex">
                {% if session['email'] %}
                <h3>Welcome, {{ session['email'] }}!</h3>
                <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                <form action="/signup">
                    <button class="buttonBlue" type="submit">SIGN UP</button>
                </form>
                <form action="/login">
                    <button class="buttonBlue" type="submit">SIGN IN</button>
                </form>
                </div>
                {% endif %}
                
                <form action="/allusers">
                    <button type="submit">Press to see all users</button>
                </form>
                
            <div>
                <h2>API page</h2>
                <a href="api" > API link</a>
            </div>
            <div class="footer">
                <p class="footer-text">Created by Alex Riabov</p>
                <a class="footer-link" href="https://github.com/Alex-RV">GitHub</a>
            </div>
        </div>
</body>
</html>
