<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign IN</title>
</head>
<body>
    <h3>Sign IN!</h3>
  <form action="login-user" method="POST">
    <input type="email" id="email-input" name="email" 
     placeholder="Your email"> <p></p>
    <input type="text" id="pw-input" name="password" 
         placeholder="Enter a password"><p></p>
    <button type="submit">Sign IN</button>
  </form>
</body>
</html>